.select-user-component {
    background-color: rgb(150, 242, 210);
    height: 200px;

    .form-user {
        max-width: 50%;
        margin: auto;
        height: -webkit-fill-available;
        padding: 15px;
        text-align: center;

        .input-wrapper {
            margin-top: 15px;
            margin-bottom: 15px;

        }

        .error-message {
            color: rgb(242, 72, 72);
            font-size: 12px;
            margin-bottom: 8px;
        }

        .seach-button {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(0, 98, 220, 1);
            background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

            &:hover {
                background-color: rgba(0, 48, 220, 1);
            }

            &:active {
                box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
            }
        }
    }





}