*,
*::before,
*::after {
    box-sizing: border-box;
}







.repository-item {
    display: flex;
    padding: 1rem;

    @media(min-width: 40rem) {
        width: 50%;
    }

    @media(min-width: 56rem) {
        width: 33.3333%;
    }


    .card {
        min-width: 350px;
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &:hover {
            .user-avatar {
                filter: contrast(100%);
            }
        }

        .card-header {
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            padding: 1rem;
            justify-content: space-between;


            .card-title {
                color: gray;
                font-size: 1.25rem;
                font-weight: 300;
                padding: 5px;
                word-break: break-all;
            }

            .full-name {
                text-align: right;
            }
        }

        .card-content {
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem;

            .card-subcontent {
                display: flex;
                flex: 1 1 auto;
                flex-direction: row;
                justify-content: space-between;
                max-width: 120px;

                .user-avatar {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    width: 70px;
                    filter: contrast(70%);
                    //filter: saturate(180%);
                    overflow: hidden;
                    position: relative;
                    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
                    ;

                    &::before {
                        content: "";
                        display: block;
                        padding-top: 110%;
                    }


                }
            }

        }
    }










}