@use './theme/formSelectUser.scss';
@use './theme/listRepositoies.scss';
@use './theme/repositoryCard.scss';
@use './theme/emptyList.scss';
@use './theme/errorDisplay.scss';
@use './theme/loading.scss';
@use './theme/dropdown.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}